<div class="chordSelection">
  <p>
    Select a few chords
    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="A chord is a group of notes when played together form a harmony "></span>
  </p>

  <div class="row chordsContainer">
    <div *ngFor="let chord of chords; let i = index">
      <div class="clearfix" *ngIf="i % 4 == 0"></div>
      <div class="chordDiv col-sm-3">
        <label>{{chord.name}} {{chord.type}}</label> <br />

        <div>
          <span class="chordNote" *ngFor="let note of chord.notes; let isLast=last">
              {{note[0]}}{{isLast ? '' : ', '}}
            </span>
        </div>

        <div class="addChordButton" (click)="onAddChord(chord)">
          <span class="glyphicon glyphicon-plus"></span>
        </div>

        <div class="playChordButton " (click)="onPlayFile(chord.fileUrl)">
          <span class="glyphicon glyphicon-volume-up"></span>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="chordProgressionListFooter">
  <div id="chordProgressionListDiv">
    <span id="chordsSelectedLabel">Chords selected:</span>

    <div id="selectedChordListDiv">
      <div class="selectedChord" *ngFor="let chord of selectedChords">
        <span class="selectedChordName">{{chord.name}} {{chord.type}}</span>
        <button (click)="onRemoveChord(chord.id)">x</button> &nbsp;
      </div>
    </div>

  </div>

  <div id="chordProgressionListenDiv" (click)="onPlayChordProgression()" class="btn btn-default">
    Listen
    <span class="glyphicon glyphicon-volume-up"></span>
  </div>
</div>