<div class="container">

  <!--<button id="chordselector-backbutton" class="btn btn-default" (click)="onChordSelectionComplete()">Back</button>-->

  <div>
    <h1 class="chordselector-header">
      Select a few chords
    </h1>
    &nbsp;
    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="A chord is a group of notes when played together form a harmony "></span>
  </div>

  <!-- 
    M = Major (triad)
    m = minor (triad)
    Maj7 = Major (seventh)
    m7 = minor (seventh)
    7 = secondary dominate
  -->
  <div class="chordselector-chords">
    <div class="chordselector-chords-types" *ngFor="let typeChords of chords; let isLastChordType=last" [style.margin-bottom]="isLastChordType ? '17%' : '3%'">
      <div class="chordselector-chords-types-type" *ngIf="typeChords.length > 0">
        {{typeChords[0].type}} Chords
      </div>

      <div class="row">
      <div *ngFor="let chord of typeChords; let i = index">
        <div class="clearfix" *ngIf="i % 4 == 0"></div>
        <div class="chordselector-chord col-sm-3">
          <label class="chordselector-chord-name">{{chord.name}} {{chord.type}}</label> <br />

          <div>
            <span class="chordselector-chord-note" *ngFor="let note of chord.notes; let isLast=last" [style.color]="(scaleNotes.includes(note.slice(0, -1))) ? 'black': 'red'" >
              {{note.slice(0, -1)}}{{isLast ? '' : ', '}}
            </span>
          </div>

          <div class="chordselector-chord-addbutton" (click)="onAddChord(chord)">
            <span class="glyphicon glyphicon-plus"></span>
          </div>

          <div class="chordselector-chord-playbutton" (click)="onPlayChord(chord)">
            <span class="glyphicon glyphicon-volume-up"></span>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>

<div class="chordselector-footer">
  <div id="chordselector-footer-list">
    <span id="chordselector-footer-label">Chords selected:&nbsp;</span>

    <div id="chordselector-footer-selectedchords">
      <div class="chordselector-footer-selectedchords-chord" *ngFor="let chord of selectedChords; let i = index; let isLast = last;">
        <span class="chordselector-footer-selectedchords-chord-name">{{chord.name}} {{chord.type}}</span>{{isLast ? '' : ', '}}
        <button class="chordselector-footer-selectedchords-chord-removebutton" (click)="onRemoveChord(i)">x</button> &nbsp;
      </div>
    </div>

  </div>

  <div id="chordselector-footer-listen">
    <div id="chordselector-footer-listen-playprogbutton" (click)="onPlayChordProgression()" class="btn btn-default">
      <span class="glyphicon glyphicon-play"></span>
    </div>
    <button id="chordselector-footer-listen-nextbutton" (click)="onChordSelectionComplete()" class="btn btn-default">NEXT</button>
  </div>

</div>