<div class="chordSelection">

  <button class="btn btn-default" (click)="onChordSelectionComplete()">Back</button>

  <h1>
    Select a few chords
    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="A chord is a group of notes when played together form a harmony "></span>
  </h1>

  <!-- 
    M = Major (triad)
    m = minor (triad)
    Maj7 = Major (seventh)
    m7 = minor (seventh)
    7 = secondary dominate
  -->
  <div class="chordsContainer">
    <div *ngFor="let typeChords of chords">
      <div class="chordTypeDiv" *ngIf="typeChords.length > 0">
        {{typeChords[0].type}} Chords
      </div>

      <div class="row">
      <div *ngFor="let chord of typeChords; let i = index">
        <div class="clearfix" *ngIf="i % 4 == 0"></div>
        <div class="chordDiv col-sm-3">
          <label>{{chord.name}} {{chord.type}}</label> <br />

          <div>
            <span class="chordNote" *ngFor="let note of chord.notes; let isLast=last">
              {{note.slice(0, -1)}}{{isLast ? '' : ', '}}
            </span>
          </div>

          <div class="addChordButton" (click)="onAddChord(chord)">
            <span class="glyphicon glyphicon-plus"></span>
          </div>

          <div class="playChordButton " (click)="onPlayChord(chord)">
            <span class="glyphicon glyphicon-volume-up"></span>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>

<div class="chordProgressionListFooter">
  <div id="chordProgressionListDiv">
    <span id="chordsSelectedLabel">Chords selected:</span>

    <div id="selectedChordListDiv">
      <div class="selectedChord" *ngFor="let chord of selectedChords; let i = index">
        <span class="selectedChordName">{{chord.name}} {{chord.type}}</span>
        <button (click)="onRemoveChord(i)">x</button> &nbsp;
      </div>
    </div>

  </div>

  <div id="chordProgressionListenDiv" (click)="onPlayChordProgression()" class="btn btn-default">
    Listen
    <span class="glyphicon glyphicon-volume-up"></span>
  </div>

  <button (click)="onChordSelectionComplete()" class="btn btn-default">NEXT</button>
</div>