<div class="container">

  <h1 class="songcreator-header">Song Creator</h1>

  <div class="row">
    <div class="col-sm-6">

      <div class="songcreator-form-element">
        <input class="songcreator-form-input" [(ngModel)]="song.name" placeholder="My Song" autofocus="">
        <span class="songcreator-form-element-label">Song Name</span>
      </div>

      <div class="songcreator-form-element">
        <button id="songcreator-scale-edit-button" class="btn btn-default" (click)="showScaleSelection()">{{song.scale ? (song.scale.name + ' ' + song.scale.type) : 'n/a'}} </button>
        <span class="songcreator-form-element-label">{{song.scale ? 'Change Scale' : 'Add Scale' }}</span> 
      </div>

      <div class="songcreator-form-element">
        <input class="songcreator-form-input" [(ngModel)]="song.bpm" type="number" >
        <span class="songcreator-form-element-label">BPM</span>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="songcreator-chords-section">
        <label class="songcreator-chords-section-label">Chords List: </label>
        <a *ngIf="song.scale" id="chordPageButton" (click)="showChordSelection()">{{ (song.chords.length > 0) ? 'edit' : 'add' }}</a>

        <div class="songcreator-chords-list">
          <div class="songcreator-chord" *ngFor="let chord of song.chords">
            <!--<span class="glyphicon glyphicon-music songCreatorSpan"></span>-->

            <span class="songcreator-chord-name songcreator-chords-section-span">{{chord.name}} {{chord.type}}</span>

            <div class="songcreator-chord-notes">
              <span class="songcreator-chord-note songcreator-chords-section-span" *ngFor="let note of chord.notes; let isLast=last">{{note.slice(0, -1)}}{{isLast ? '' : ', '}}</span>
            </div>
          </div>

          <!-- TODO add option once Tone.js Transport is working -->
          <!--<span class="glyphicon glyphicon-pencil songCreatorSpan" onclick="editChordLengthPopup()"></span>-->
        </div>
      </div>

      <button id="songcreator-play-chords-button" class="btn btn-default" (click)="playChordProgression()">
        <span class="glyphicon glyphicon-play songcreator-chords-section-span"></span>
      </button>

    </div>
  </div>


  <div class="song-footer">
    <button class="song-footer-generate-midi-button" (click)="generateMidi()">Generate Midi</button>
    <a id="song-footer-generate-midi-button-hidden" download="{{(song.name) ? (song.name + '.mid') : 'mysong.mid'}}" [href]="midiFileUrl"
      target="_blank" #downloadMidiButton>DOWNLOAD MIDI</a>
  </div>

</div>