<label class="songCreatorLabel">Song Name: </label>
<input [(ngModel)]="song.name" placeholder="Song Name" autofocus="">

<br />

<label class="songCreatorLabel">Scale:</label> <span class="songCreatorSpan"> {{song.scale ? song.scale.name  : 'n/a'}} </span>

  <button class="btn btn-default" (click)="showScaleSelection()">Add Scale</button>

  <br />

  <label class="songCreatorLabel">BPM: </label>
  <input [(ngModel)]="song.bpm" type="number" placeholder="BPM">

  <div class="chordSectionDiv">
    <label class="songCreatorLabel">Chords List: </label>
    <a *ngIf="song.scale" (click)="showChordSelection()">edit</a>

    <div class="chordsListDiv">
      <div class="chordDiv" *ngFor="let chord of song.chords">
        <span class="glyphicon glyphicon-music songCreatorSpan"></span>

        <span class="chordName songCreatorSpan">{{chord.name}}</span>

        <div class="chordNotes">
          <span class="chordNote songCreatorSpan" *ngFor="let note of chord.notes; let isLast=last">{{note[0]}}{{isLast ? '' : ', '}}</span>
        </div>
      </div>

      <span class="glyphicon glyphicon-pencil songCreatorSpan" onclick="editChordLengthPopup()"></span>
    </div>
  </div>

  <div class="songFooter">
    <button class="btn btn-default" (click)="playChordProgression()">
    <span class="glyphicon glyphicon-play songCreatorSpan"></span>
  </button>
    <button (click)="generateMidi()">Generate Midi</button>
  </div>