<div class="chordProgressionListFooter">
  <div id="chordProgressionListDiv">
    <span id="chordsSelectedLabel">Chords selected:</span>

    <div id="selectedChordListDiv">
      <div class="selectedChord" *ngFor="let chord of chords">
        <span class="selectedChordName">{{chord.name}} {{chord.type}}</span>
        <button (click)="onRemoveChord(chord.id)">x</button> &nbsp;
      </div>
    </div>

  </div>

  <div id="chordProgressionListenDiv" (click)="onPlayChordProgression()" class="btn btn-default">
    Listen
    <span class="glyphicon glyphicon-volume-up"></span>
  </div>
</div>