<app-info
  (createASong)="goToSongPage()"
>
</app-info>

<app-song-creator
  *ngIf="redirectToSongComponent"
  [song]="song"
  [midiFileUrl]="midiFile"
  (onScaleSelect)="goToScaleSelectionPage()"
  (onChordSelect)="goToChordsSelectionPage()"
  (onGenerateMidi)="onGenerateMidiFile()"
  (onPlayChordProgression)="playChordProgression()"
>
</app-song-creator>

  <!--[selectedNote]="(song.scale) ? song.scale.name : ''"
  [selectedType]="(song.scale) ? song.scale.type : ''"-->
<app-scale-selector 
  *ngIf="redirectToScaleComponent"
  [notes]="listOfNotes" 
  [types]="listOfScaleTypes"
  [selectedScale]="song.scale"
  (selectScale)="onScaleChange($event)"
  (playScale)="playScale($event)"
  (scaleSelectionComplete)="goToSongPage()"
  >
</app-scale-selector>

<app-chord-selector 
  *ngIf="redirectToChordsComponent"
  [chords]="listOfChords"
  [selectedChords]="song.chords"
  (addChord)="addChord($event)"
  (playChord)="playChord($event)"
  (removeChord)="removeChord($event)"
  (playChordProgression)="playChordProgression()"
  (chordSelectionComplete)="goToSongPage()"
>
</app-chord-selector>