
<section class="container">

  <h1>MusicProg</h1>
  <h3>an easy way to learn music theory</h3>

  <button class="btn btn-default" (click)="onGenerateMidiFile()">generate midi</button>
  <br />

  <section class="chordselection" *ngIf="listOfChords.length > 0" >
    <ul class="chords-list">
      <li *ngFor="let chord of listOfChords">
        <label>{{chord.name}} {{chord.type}}</label>
      <button class="btn btn-default" (click)="addChord(chord)">add chord</button>
      </li>
    </ul>
  </section>

  <button class="btn btn-default" onclick="playFile('/assets/audio/Cowboy Bebop (Draft 3).mp3')" >play chord</button>

</section>
