h1 {
    color: white;
    margin-bottom: 2%;
    display: inline-block;
}

#selectedScaleNotesDiv {
    margin-top: 10%;
    margin-bottom: 10%;
}

#selectedScaleNotesDiv span {
    color: white;
}

#noteSelectDropdown {
    width: 30%;
}

#typeSelectDropdown {
    width: 69%;
}

.glyphicon-info-sign {
    color: white;
    display: inline-block;
}