/*
 * MusicProg Style Sheet
 * Global Variables
 */

$primary-font: 'Open Sans', sans-serif;
$primary-bg-color: #333;
$primary-font-color: #fff;

/* START
 * Cover Essentials
 */
 html,
body {
  height: 100%;
  background-color: #333;
}
body {
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
/* END
 * Cover Essentials
 */

* {
  font-family: $primary-font;
}

input, button {
  width: 100%;  
  font-size: 18pt;
}

.selectedChord {
    display: inline;
}

.chordProgressionListFooter {
    margin-top: 50px;
}

#generateMidiButton {
    width: 100%;
}

#scaleSelectDropdown {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 100%;
   font-size: 16pt;
}

select#scaleSelectDropdown Option {
    font-size: 16pt;
}

.playChordButton {
    left: 0;
    background-color: lightskyblue;
}

.addChordButton {
    right: 0;
    background-color: palevioletred;
}

.chordsContainer {
    position: relative;
}

.scaleSelector {
    min-height: 100px;
    width: 90%;
    position: relative;
    margin: auto;
}

#scaleHearButton {
    left: 0;
}

#scaleHearButton, #scaleNextButton {
    width: 50%;
    display: inline-block;
    position: absolute;
}

.chordDiv label {
    color: black;
    margin-top: 5px;
}

#mainAppDiv {
    margin-top: 50px;
    margin-bottom: 50px;
}

.chordDiv {
    height: 100px;
    background-color: white;
}

.addChordButton, .playChordButton {
    position: absolute;
    width: 50%;
    top: 50%;
    height: 50px;
}

.addChordButton .glyphicon,
.playChordButton .glyphicon {
    top: 25%;
}

#chordProgressionListDiv {
  float: left;
  display: inline-block;
  width: 70%;
}

#chordProgressionListenDiv {
  float: right;
  display: inline-block;
  width: 30%;
  min-height: 28px;
}

#chordsSelectedLabel {
 font-weight: bold;
 font-size: 14pt;
 text-align: left;
}

#selectedChordListDiv {
  width: 71%;
  display: inline-block;
}

.chordSelection {
  width: 90%;
  margin: auto;
}

.chordNote {
  color: grey;
}

app-scale-selector, 
app-chord-selector,
app-generate-midi,
app-song-creator {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $primary-bg-color;
}

app-song-creator {
  padding-top: 10%;
  z-index: 1;
}

app-scale-selector {
  padding-top: 15%;
  z-index: 2;
}

app-chord-selector {
  padding-top: 5%;
  z-index: 3;
}

app-generate-midi {
  z-index: 3;
}

.chordTypeDiv {
    background: oldlace;
    font-size: 15pt;
    padding: 10px;
}