/*
 * MusicProg Style Sheet
 * Global Variables
 */

$primary-font: 'Open Sans', sans-serif;
$primary-bg-color: #333;
$primary-font-color: #fff;

/* START
 * Cover Essentials
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
/* END
 * Cover Essentials
 */

* {
  font-family: $primary-font;
}

input, button {
  width: 100%;  
  font-size: 18pt;
}

input {
    text-indent: 10px;
}

.chordselector-footer-selectedchords-chord {
    display: inline;
}

#generateMidiButton {
    width: 100%;
}


.scaleselector-dropdown {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 100%;
   font-size: 16pt;
}

select.scaleselector-dropdown Option {
    font-size: 16pt;
}

.chordselector-chord-playbutton {
    left: 0;
    background-color: lightskyblue;
}

.chordselector-chord-addbutton {
    right: 0;
    background-color: palevioletred;
}

.chordselector-chords {
    position: relative;
}

.scaleselector {
    min-height: 100px;
    width: 90%;
    position: relative;
    margin: auto;
}

#scaleselector-buttongroup-listenbutton {
    left: 0;
}

#scaleselector-buttongroup-listenbutton, 
#scaleselector-buttongroup-nextbutton {
    width: 50%;
    display: inline-block;
    position: absolute;
    font-size: 16pt;
}

.songcreator-chord label {
    color: black;
    margin-top: 5px;
}

#mainAppDiv {
    margin-top: 50px;
    margin-bottom: 50px;
}

.songcreator-chord,
.chordselector-chord {
    height: 100px;
    background-color: white;
}

.chordselector-chord-addbutton, .chordselector-chord-playbutton {
    position: absolute;
    width: 50%;
    top: 50%;
    height: 50px;
}

.chordselector-chord-addbutton .glyphicon,
.chordselector-chord-playbutton .glyphicon {
    top: 25%;
}

#chordselector-footer-list {
    padding: 1%;
    float: left;
    display: inline-block;
    width: 70%;
}

#chordselector-footer-label {
 font-weight: bold;
 font-size: 14pt;
 text-align: left;
}

#chordselector-footer-selectedchords {
    text-align: left;
    width: 71%;
    display: inline-block;
}

.chordSelection {
  width: 90%;
  margin: auto;
}

.songcreator-chord-note {
  color: grey;
}

app-scale-selector, 
app-chord-selector,
app-generate-midi,
app-song-creator {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $primary-bg-color;
  padding-bottom: 50px;
}

app-song-creator {
  padding-top: 5%;
  z-index: 1;
}

app-scale-selector {
  padding-top: 5%;
  z-index: 2;
}

app-chord-selector {
  padding-top: 5%;
  z-index: 3;
}

app-generate-midi {
  z-index: 3;
}

/*
 * START
 * Song Creator styles
 */

.songcreator-chords-section-label, .songcreator-chords-section-span {
    color: white;
}

.song-footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.songcreator-form-element-label {
    position: absolute;
    top: 16px;
    right: 20px;
    color: grey;
}

.songcreator-form-element {
    position: relative;
    margin-bottom: 5%;
}

#songcreator-scale-edit-button {
    text-transform: capitalize;
    height: 40px;
    border-radius: 0;
    font-size: 13pt;
    padding-top: 2px;
    text-align: left;
}

.songcreator-form-input {
    font-size: 13pt;
    height: 40px;
}

.songcreator-chords-section {
    background-color: lightpink;
    padding: 5px;
    padding-top: 10px;
    min-height: 133px;
}

#songcreator-play-chords-button {
    border-radius: 0;
    border: none;
    height: 40px;
}

#songcreator-play-chords-button .glyphicon-play {
    color: black;
}

.songcreator-chords-section-label {
    font-size: 12pt;
    font-weight: bold;
}

.songcreator-chord {
    height: 100px;
    background-color: white;
    width: 25%;
    margin: 0 auto;
    border: 1px solid lightgrey;
}

.song-footer-generate-midi-button {
    font-size: 11pt;
    height: 40px;
    border-radius: 0;
    background-color: white;
    border: none;
    font-weight: bold;
}

#song-footer-generate-midi-button-hidden {
    display: none;
}

.songcreator-chord-name, .songcreator-chord-note {
    color: black;
}

#chordPageButton {
    cursor: pointer;
}

.songcreator-header {
    color: white;
    margin-bottom: 57px;
}

/*
 * END
 * Song Creator styles
 */

/*
 * START
 * Scale Selector styles
 */

app-scale-selector h1 {
    color: white;
    margin-bottom: 2%;
    display: inline-block;
}

#scaleselector-scalenotes {
    margin-top: 10%;
    margin-bottom: 10%;
}

#scaleselector-scalenotes span {
    color: white;
}

#scaleselector-noteselect {
    width: 30%;
}

#scaleselector-typeselect {
    width: 69%;
    text-transform: capitalize;
}

app-scale-selector .glyphicon-info-sign {
    color: white;
    display: inline-block;
}

/*
 * END
 * Scale Selector styles
 */

/*
 * START
 * Chord Selector styles
 */

.chordselector-header {
    color: white;
    display: inline-block;
}

.glyphicon-info-sign {
    color: white;
    display: inline-block;
}

.chordselector-chords-types-type {
    margin-right: -15px;
    margin-left: -15px;
    background: oldlace;
    font-size: 15pt;
    padding: 10px;
}

.chordselector-chords-types {
    margin-bottom: 3%;
}

#chordSelectionBackButton {
    position: fixed;
    width: 32%;
    left: 0%;
    top: 10%;
    z-index: 12;
    opacity: .95;
}

.chordselector-footer {
    margin-top: 50px;
    height: 103px;
    background: white;
    opacity: .9;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.chordselector-footer-selectedchords-chord-removebutton {
    font-size: 9pt;
    width: initial;
}

#chordselector-footer-listen-playprogbutton,
#chordselector-footer-listen-nextbutton {
    display: inline-block;
    position: absolute;
    height: 103px;
    border-radius: 0;
    border: none;
    color: white;
}

#chordselector-footer-listen-playprogbutton {
    width: 36%;
    left: 0;
    background: aquamarine;
    font-size: 36pt;
    padding-top: 21px;
}

#chordselector-footer-listen-nextbutton {
    width: 64%;
    right: 0%;
    font-size: 17pt;
    font-weight: bold;
    background: black;
}

#chordselector-footer-listen {
    height: 100%;
    position: relative;
      float: right;
  display: inline-block;
  width: 30%;
  min-height: 28px;
}

/*
 * END
 * Chord Selector styles
 */

 /*
  * START
  * Responsive design
  */

@media only screen and (max-width: 766px) {
    .nav-masthead {
        display: none;
    }

} 

@media only screen and (max-width: 639px) {
    #chordselector-footer-listen-playprogbutton {
        font-size: 15pt;
        padding-top: 40px;
    }
    #chordselector-footer-listen-nextbutton {
        font-size: 12pt;
    }
}

@media only screen and (max-width: 400px) {
    #scaleselector-noteselect {
        width: 100%;
    }
    #scaleselector-typeselect {
        width: 100%;
        margin-top: 1%;
    }
}

 /*
  * END
  * Responsive design
  */